.pic {
    margin: 0 auto;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-bottom: 24px;
}

#profile__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#slack {
    display: none;
}